/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BACKGROUND */
body {
  height: 100vh;
  background: linear-gradient(135deg, #f98e91, #ffb5a0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.form-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 40px rgba(255, 105, 180, 0.3);
  animation: fadeIn 1s ease;
}

/* TITLE */
.form-box h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;
}

/* INPUT GROUP */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

/* INPUT & TEXTAREA */
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s ease;
}

/* LABEL */
.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #fff;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
  opacity: 0.7;
}

/* FLOAT EFFECT */
.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  background: #ff6f91;
  padding: 2px 8px;
  border-radius: 5px;
}

/* INPUT FOCUS EFFECT */
.input-group input:focus,
.input-group textarea:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #ff6f91;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #f54d74, #f58a64);
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* BUTTON HOVER */
button:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 10px 20px rgba(255, 105, 180, 0.4);
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}